/* Design Settings

-------FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

------font weights:
default:400
600
700
900

------line height: 
Default: 1.05
1.6


-------Color:
primary color: #32347D
tint - 
#47488a
shades -
 #ebebf2
 #d6d6e5;
 
accnets - 
grays - 
#555
#333
#444


-------Shadows

-------Border Radius
9px default

-------WhiteSpace
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* Setting the global reset */

/* --------------GENERAL SECTION---------------- */
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #efeff5;
  letter-spacing: -0.5px;
}
.heading-primary {
  font-size: 4.4rem;
  line-height: 1;
  margin-bottom: 3.2rem;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1;
  color: #1b1c2d;
  margin-bottom: 9.6rem;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  color: #1b1c2d;
  margin-bottom: 3.2rem;
}
.subheading {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  color: #6b6da1;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--center-v {
  align-items: center;
}

/* button styling */
.btn-imp:link,
.btn-imp:visited {
  background-color: #191a3f;
  color: #ebebf2;
}
.btn-limp:link,
.btn-limp:visited {
  background-color: #ebebf2;
  color: #47488a;
}
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 1.8rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  /* making animations from one second to another and 0.3 s is the common value*/
  transition: all 0.3s;
  font-weight: 600;
}
.btn-imp:hover,
.btn-imp:active {
  background-color: #0a0a19;
  color: #ebebf2;
}
.btn-limp:hover,
.btn-limp:active {
  background-color: #c2c2d8;
  /* color: #47488a; */
  /* trick to add border inside the element */
  box-shadow: inset 0 0 5px #fff;
}
.margin-right-sm {
  margin-right: 1.6rem !important;
  text-decoration: none;
}
/* btn styling done */

/* ------------------------------------------------- */

/* -------------------------NAV---------------------- */
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #ebebf2;
  font-weight: 400;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #0a0a19;
  font-weight: 600;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-color: #191a3f;
  color: #ebebf2;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #0a0a19;
  color: #ebebf2;
}
strong {
  font-weight: 700;
}
.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}
.center-text {
  text-align: center;
}
.link:visited,
.link:link {
  display: inline-block;
  color: #47488a;
  text-decoration: none;
  border-bottom: 1.5px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #1b1c2d;
  border-bottom: 1px solid transparent;
}
