/* Design Settings

-------FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

------font weights:
default:400

------line height: 
Default: 1


-------Color:
primary color: #32347D
tint - 
shades -
accnets - 
grays - 

-------Shadows

-------Border Radius

-------WhiteSpace
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* Setting the global reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
/* setting up the initial matter */
body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
/* the above is the initial css setup */

/*  */
.test {
  max-width: 1000px;
  background-color: red;
  max-width: 50rem;
  padding: 4rem;
  color: white;
  font-size: 2rem;
}
