* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* rem font size is 10px and 1 rem = 16px(default)/10px =62.5% */
  font-size: 62.5%;
}
/* setting up the initial matter */
body {
  font-family: "Lato", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* ------------------HEADER-------------------------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5b5d97;
  height: 10rem;
  padding: 0 2.4rem;
}
.logo {
  width: 16rem;
}
/* --------------------------------------------------- */
/* the above is the initial css setup */
.section-hero {
  background-color: #5b5d97;
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  max-width: 120rem;
  /* min-height: 65rem; */
  margin: 0 auto;
  padding: 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 7.6rem;
}

.hero-description {
  font-size: 2rem;
  color: #d6d6e5;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.hero-img-box {
  position: relative;
  max-width: 100%;
  /* min-height: 65rem; */
  /* overflow: hidden; */
}
/*  */

/* For the image collapsing */
.hero-img {
  max-width: 100%;
}

/* .hero-img-3 {
  position: absolute;

  width: 30rem;
  right: 0rem;
  bottom: 20rem;

}
.hero-img-1 {
  position: absolute;

  top: 0rem;
  right: 0rem;
  width: 40rem;

}
.hero-img-2 {
  position: absolute;
  top: 18rem;
  left: 0;
  width: 30rem;

}
  /* max-width: 100%;
  max-height: 100%; */
/* end of image collapsing in future if it doesnt work change the image */

/* customer faces */
.delivered {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
  color: #ebebf2;
}
.faces {
  display: flex;
}
.faces img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 2px solid #ebebf2;
}
.faces img:last-child {
  margin: 0;
}
.del-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.del-text span {
  color: #0a0a19;
  font-weight: 900;
}
/* customer images mod over */

/* header section (top) */

/*---------------------------------------- */
/* How it works */
/* -------------------------------------- */

.section-how{
  padding: 9.6rem 0;

}
.step-img-box{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.step-img{
  width:35%;
}
.step-number{
  font-size: 8.6rem;
  font-weight: 700;
  color:#cecee0;
  margin-bottom: 1.2rem;
}
/* no child elements to images */
.step-img-box::before{
  content: "";
  display: block;
  width: 60%;
  border-radius: 50%;
  z-index: -1;
  /* height: 60%; */
  padding-bottom: 60%;
  background: #cecee0;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%) ;
}
.step-img-box::after{
  content: "";
  display: block;
  width: 50%;
  border-radius: 50%;
  z-index: -1;
  /* height: 60%; */
  padding-bottom: 50%;
  background: #5b5d97;
  position: absolute;
  /* centering the element */
  top:50%;
  left:50%;
  /* transform is to move ! */
  transform: translate(-50%,-50%) ;
  /* end of centering the element */

}
.step-description{
  font-size: 1.8rem;
  line-height: 1.6;
}