* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* rem font size is 10px and 1 rem = 16px(default)/10px =62.5% */
  font-size: 62.5%;
}
/* setting up the initial matter */
body {
  font-family: "Lato", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* ------------------HEADER-------------------------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5b5d97;
  height: 10rem;
  padding: 0 2.4rem;
}
.logo {
  width: 16rem;
}
/* --------------------------------------------------- */
/* the above is the initial css setup */
.section-hero {
  background-color: #5b5d97;
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  max-width: 120rem;
  /* min-height: 65rem; */
  margin: 0 auto;
  padding: 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 7.6rem;
}

.hero-description {
  font-size: 2rem;
  color: #d6d6e5;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.hero-img-box {
  position: relative;
  max-width: 100%;
  /* min-height: 65rem; */
  /* overflow: hidden; */
}
/*  */

/* For the image collapsing */
.hero-img {
  max-width: 100%;
}

/* .hero-img-3 {
  position: absolute;

  width: 30rem;
  right: 0rem;
  bottom: 20rem;

}
.hero-img-1 {
  position: absolute;

  top: 0rem;
  right: 0rem;
  width: 40rem;

}
.hero-img-2 {
  position: absolute;
  top: 18rem;
  left: 0;
  width: 30rem;

}
  /* max-width: 100%;
  max-height: 100%; */
/* end of image collapsing in future if it doesnt work change the image */

/* customer faces */
.delivered {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
  color: #ebebf2;
}
.faces {
  display: flex;
}
.faces img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 2px solid #ebebf2;
}
.faces img:last-child {
  margin: 0;
}
.del-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.del-text span {
  color: #0a0a19;
  font-weight: 900;
}
/* customer images mod over */

/*---------------------------------------- */
/* FEATURED IN */
/* -------------------------------------- */
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 3.2rem;
  /* filter: grayscale(1); */
  filter: brightness(0);
  opacity: 50%;
}

/*---------------------------------------- */
/* How it works */
/* -------------------------------------- */

.section-how {
  padding: 9.6rem 0;
}
.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.step-img {
  width: 35%;
}
.step-number {
  font-size: 8.6rem;
  font-weight: 700;
  color: #cecee0;
  margin-bottom: 1.2rem;
}
/* no child elements to images */
.step-img-box::before {
  content: "";
  display: block;
  width: 60%;
  border-radius: 50%;
  z-index: -1;
  /* height: 60%; */
  padding-bottom: 60%;
  background: #cecee0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-img-box::after {
  content: "";
  display: block;
  width: 50%;
  border-radius: 50%;
  z-index: -1;
  /* height: 60%; */
  padding-bottom: 50%;
  background: #5b5d97;
  position: absolute;
  /* centering the element */
  top: 50%;
  left: 50%;
  /* transform is to move ! */
  transform: translate(-50%, -50%);
  /* end of centering the element */
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
}

/*---------------------------------------- */
/* PLANS */
/* -------------------------------------- */

.section-meals {
  padding: 9.6rem 0;
}
.meal-tags {
  margin-bottom: 1.2rem;
}
.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.5s;
}
.meal:hover {
  transform: translate(0, -2rem);
  box-shadow: 0 2.4rem 6.4rem rgba(0, 0, 0, 0.06);
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.tag-beginner,
.tag-intermediate {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font: 1.2rem;
  text-transform: uppercase;
  background-color: #51cf66;
  color: #555;
  border-radius: 100px;
  font-weight: 700;
}
.tag-intermediate {
  background-color: orange;
}
.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meal-attributes {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 2rem;
}
.meal-attribute {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  gap: 1.6rem;
}

.meal-img {
  width: 100%;
}
.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #5b5d97;
}

.all-recipies {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}

/*---------------------------------------- */
/* Testimonials */
/* -------------------------------------- */
.section-testimonials {
  background-color: #5b5d97;
  display: grid;
  grid-template-columns: 60fr 40fr;
 align-items: center;
}
.testimonials-container{
  padding: 9.6rem;
}
.special-1{
  color:#0a0a19 !important;
}
.special{
  color:#ebebf2 !important;
}
.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
  
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonial-text {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
  color:#ebebf2c1;
}
.testimonial-name {
  font-size: 1.6rem;
  color:#0a0a19;
  font-weight: 400;
}
.gallery {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:0.6rem;
  padding: 1.6rem;
}
.gallery-item{
  overflow: hidden;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.3s;
}

.gallery-item img:hover{
  transform: scale(1.1);
}

/*---------------------------------------- */
/* Pricing */
/* -------------------------------------- */

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan{
  background-color: #cecee0;
  border-radius: 11px;;

  width: 75%;
}

.plan-header{
  text-align:center;
  margin-bottom: 4.8rem;
}
.plan-name{
  color:#5b5d97;
  font-weight:600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.plan-price{
  font-size: 6.2rem;
  font-weight: 700;
  color:#0a0a19;
  margin-bottom: 1.6rem;
}

.plan-price span{
  font-size: 3.6rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plan-text{
  font-size: 1.6rem;
  line-height: 1.6;
  color: #888;
}
.plan-sign-up{
  text-align: center;
  margin-top: 4.8rem;
}
.plan-sign-up a{
  text-decoration: none;
}
.pricing-plan--starter{
  justify-self: end;
  padding:4.8rem;
  position: relative;
  overflow: hidden;
}
.pricing-plan--complete{
  background-color: rgb(255, 255, 255);
  border: 2px solid #cecee0 ;
  padding:4.6rem;
}
.pricing-plan--starter::after{
  content: "Best Value";
  position: absolute;
  text-transform: uppercase;

  font-size: 1.4rem;
  font-weight: 700;
  top:6%;
  right:-18%;
  background-color: #5b5d97;
  color: #ebebf2;
  padding:0.8rem 8rem;
  transform: rotate(45deg);
   
}
.feature-icon{
  color:#5b5d97;
  height: 3.2rem;
  width: 3.2rem;
  background-color:#cecee0;
  margin-bottom: 3.2rem;
  padding:1.6rem;
  border-radius: 50%;
}
.feature-title{
  font-size: 2.4rem;
  color:#0a0a19;
  font-weight: 700;
  margin-bottom: 1.6rem;

}
.feature-text{
  font-size:1.8rem;
  line-height:1.8

}
.plan-details{
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

/*---------------------------------------- */
/* CALL TO ACTIOn */
/* -------------------------------------- */

.section-cta {
  padding: 9.6rem 0;
}
.cta{
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: #5b5d97; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);

  border-radius: 11px;
  background-image: linear-gradient(to right bottom,#5b5d97, #cecee0);
  overflow: hidden;
}
.cta .heading-secondary{
  color: #ebebf2;
  margin-bottom: 3.2rem;
 
}
.cta-text-box{
  color:#d6d6e5;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}
.cta-text{
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.cta-img-box{
  background-image:  linear-gradient(to right bottom,rgba(91, 93, 151, 0), rgba(206, 206, 224, 0.2)),url("../img/mike.jpg");
  background-size: cover;
  background-position: center;
}
.cta-form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label{
  display: block;
  color: #ebebf2;
  font-size:1.6rem;
  font-weight: 600;
  margin-bottom:1.2rem;
}
.cta-form input,
.cta-form select{
  width:100%;
  color:#0a0a19;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  background-color: #cecee0;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white;
}


.btn--form{
  background-color: #ebebf2;
  color: #47488a;
  align-self: end;
  padding: 1.2rem !important;
}
.btn--form:hover{
  background-color: #c2c2d8;
  box-shadow: inset 0 0 5px #fff;
}
*:focus{
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(71, 72, 138, 0.572) ;
}
.cta *:focus{
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(235, 235, 242, 0.455) ;
}

/*---------------------------------------- */
/* FOOTER */
/* -------------------------------------- */

.footer {
  padding: 9.6rem 0;
}